<h1></h1>

<div class="alert alert-danger" role="alert" *ngIf="message">
	{{message}}
</div>

<form class="form-inline" *ngIf="!authService.getUser()">
	<div class="form-group">
		<label for="username">User: (type <em>user</em>)</label>
		<input type="text" class="form-control" name="username" #username>
	</div>

	<div class="form-group">
		<label for="password">Password: (type <em>password</em>)</label>
		<input type="password" class="form-control" name="password" #password>
	</div>
	
	<a class="btn btn-default" (click)="login(username.value, password.value)">
		Submit
	</a>

</form>

<div class="well" *ngIf="authService.getUser()">
	Logged in as <b>{{authService.getUser()}}</b>
	<a href (click)="logout()">Log Out</a>

</div>